<section class="container-fluid h-100 login-container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-md-6 d-none d-md-block"></div>
        <div class="col-12 d-flex justify-content-center col-md-6">
            <div class="login-form-container p-3">
                <h2 class="mb-4 login-text"><img class="login-logo-img" src="/assets/logo.png" alt="logo">Sign up</h2>
                <form [formGroup]="signupForm" (ngSubmit)="signup()">
                    <div>
                        <input type="email" class="login-input" placeholder="Email" formControlName="email">
                    </div>
                    <div>
                        <input type="text" class="login-input" placeholder="User name" formControlName="name">
                    </div>
                    <div>
                        <input type="tel" class="login-input" placeholder="Mobile number" formControlName="mobileNo">
                    </div>
                    <div>
                        <input type="password" class="login-input" placeholder="password" formControlName="password">
                    </div>
                    <p class="text-center" style="font-size: 10px;">
                        By signup, you agree to our Terms of Use and Privacy Policy.
                    </p>
                    <div class="text-center">
                        <button class="primary-btn" type="submit" [disabled]="this.signupForm.invalid">Sign up</button>
                    </div>
                    <!-- new account -->
                    <p class="text-center mt-3">Existing User <a routerLink="/login"
                            class="text-decoration-none">Login</a></p>
                </form>
            </div>
        </div>
    </div>
</section>