<section class="row">
    <div class="col-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let p of product">
        <div class="p-2 shadow pro-card" [routerLink]="['/products/id']">
            <div class="text-center">
                <img [src]="p.image" alt="product img" class="product-img" loading="lazy" decoding="async">
            </div>
            <div>
                <p class="title-text">{{p.title}}</p>
                <h5>{{p.price | currency: 'INR'}}</h5>
                <p>{{p.delivery}}</p>
                <!-- review section -->
                <div class="d-flex align-items-center">
                    <div class="rating-star d-flex align-items-center bg-success text-white fw-bold px-2 rounded">
                        <span>
                            {{p.rating}}
                        </span>
                        <span class="material-symbols-outlined text-white ms-2 fs-6">
                            star
                        </span>
                    </div>
                    <div class="title-text ms-1" style="font-size: 14px;">
                        {{p.reviews}} Reviews
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>