<section class="container-fluid">
    <div class="row align-items-center main-con" style="background-color: #b0e6dc;">
        <div class="col-12 col-md-6 py-4">
            <p class="banner-text">Make your
            </p>
            <p class="banner-text">fashion more
            </p>
            <p class="banner-text d-flex align-items-center">
                <span class="material-symbols-outlined" style="font-size: 5rem;">
                    chip_extraction
                </span><span>perfect</span>
            </p>
            <div>
                <button class="primary-btn shop-btn" routerLink="/products">Shop Now</button>
            </div>
        </div>
        <div class="col-12 col-md-6 text-center">
            <img class="w-75 h-75" src="/assets/landing-banner.png" alt="Landing Banner">
        </div>

    </div>
    <!-- landing icons sections -->
    <div class="row justify-content-center main-con shadow">
        <div class="col-12 col-md-3 py-2 py-md-4 d-flex align-items-center border-end border-bottom">
            <div>
                <span class="material-symbols-outlined land-icon">
                    chat
                </span>
            </div>
            <div class="ms-4">
                <p class="fw-bold mb-0">CHAT BOT</p>
                <span>A smart way of finding products</span>
            </div>
        </div>
        <div class="col-12 col-md-3 py-2 py-md-4 d-flex align-items-center border-end border-bottom">
            <div>
                <span class="material-symbols-outlined land-icon">
                    rotate_90_degrees_ccw
                </span>
            </div>
            <div class="ms-4">
                <p class="fw-bold mb-0">30 DAYS RETURN</p>
                <span>Simply return within 30 days</span>
            </div>
        </div>
        <div class="col-12 col-md-3 py-2 py-md-4 d-flex align-items-center border-bottom">
            <div>
                <span class="material-symbols-outlined land-icon">
                    monetization_on
                </span>
            </div>
            <div class="ms-4">
                <p class="fw-bold mb-0">100% PAYMENT SECURE</p>
                <span>Best payment gatway</span>
            </div>
        </div>
    </div>
</section>