<section class="container-fluid pt-3 pt-md-4">
    <div class="row justify-content-around">
        <div class="col-12 col-md-6 col-lg-4">
            <img src="/assets/products/1.jpg" alt="product image" class="w-100">
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <h2>New product</h2>
            <p class="text-muted">
                Women Beige Floral Yoke Design Straight Kurta with Trousers & With Dupatta
            </p>
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center bg-success text-white fw-bold px-2 rounded">
                    <span>
                        {{'4.0'}}
                    </span>
                    <span class="material-symbols-outlined text-white ms-2 fs-6">
                        star
                    </span>
                </div>
                <div class="title-text ms-1" style="font-size: 14px;">
                    {{'333'}} Reviews
                </div>
            </div>
            <hr>
            <!-- pricedetails -->
            <div>
                <p class="mb-0 fw-bold fs-3">{{'234' | currency: 'INR'}}</p>
                <span class="text-success">inclusive of all taxes</span>
            </div>
            <!-- address details -->
            <div class="mt-2">
                <h5>ADDRESS : </h5>
                <p class="mb-0">No:1/2 , NEW TEAM, near chennai</p>
                <p class="mb-0">panimalar</p>
                <p class="mb-0">poonamallee</p>
                <p class="mb-0">chennai 602026</p>
                <p class="text-end text-success cursor-pointer"><a [routerLink]="">Change Address > </a></p>
            </div>
            <hr>
            <!-- button section -->
            <div class="row mt-3">
                <div class="col-12 col-md-6">
                    <button class="primary-btn mt-2 text-dark w-100" style="background-color: var(--primary-color);">ADD
                        TO CART</button>
                </div>
                <div class="col-12 col-md-6">
                    <button class="secondary-btn mt-2 w-100">BUY NOW</button>
                </div>
                <!-- <div class="col-12 col-md-6">
                    <button class="primary-btn mt-2 w-100">WISHLIST</button>
                </div> -->
            </div>
        </div>
    </div>
</section>