<section class="container">
    <div class="row">
        <h4>Add new product</h4>
        <hr>
        <form class="col-12 col-md-6">
            <input type="text" class="form-input w-100" placeholder="product name">
            <textarea type="text" class="form-input w-100" placeholder="Description"></textarea>
            <input type="number" class="form-input w-100" placeholder="Price" min="1">
            <select name="category" class="form-input w-100 py-3">
                <option value="dress">Dress</option>
                <option value="p">hello</option>
            </select>
            <div>
                <button class="primary-btn">Add Product</button>
            </div>
        </form>
        <div class="col-12 col-md-6 text-center">
            <p>select product image</p>
            <img src="/assets/products/4.jpg" alt="Product image" class="product-img">
        </div>
    </div>
</section>